@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Courgette&family=Open+Sans&family=Space+Mono&display=swap');


body {
    font-family: serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}


/**
*! Navbar Styles here
**/

.navbar {
    display: flex;
    margin-inline: 20%;
    justify-content: end;
    gap: 30px;
    padding-block: 20px;
    align-items: center;

}

.book-icon {
    left: 0;
    position: absolute;
    margin-inline: 20%;
}

.dark-mode-container {
    border-left: 1px solid rgb(201, 198, 198);
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

}



/**
*! Input Search Element styles here
**/

#search-div {
    position: relative;
    margin-top: 20px;
    margin-inline: 20%;
}

#search-input {
    width: 100%;
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 15px;
    border-radius: 8px;

}

#search-input:focus {
    outline: none;
}

#search-btn {
    position: absolute;
    padding: 15px;
    right: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}




/**
*! Styles for Generated Content
**/

#content {
    margin-inline: 20%;
    margin-top: 35px;
    font-size: 17px;
    margin-bottom: 50px;
}

.word {
    font-size: 45px;
    margin-bottom: 10px;
}

.phonetics {
    color: #cc00ff;
    font-weight: 200;
}

#nounDiv {
    margin-block: 40px;
}

/* noun word */
#nounDiv>h5,
#verbDiv>h5 {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Courgette', cursive;

}

/* Meaning */
#nounDiv>h6,
#verbDiv>h6 {
    color: rgb(202, 196, 196);
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 15px;
}

/* List of Meanings */
#nounDiv>ul,
#verbDiv>ul {
    margin-left: 40px;
    margin-bottom: 50px;
}

#nounDiv>ul>li {
    margin-top: 20px;
}

.synonymDiv {
    display: flex;
    gap: 20px;
}

.synonymDiv>span {

    color: rgb(193, 188, 188);
}

.synonymDiv>p {
    color: #cc00ff;
    font-weight: 600;
}

.sourceDiv {
    display: flex;
    gap: 20px;
    align-items: center;
    border-top: 1px solid gainsboro;
    padding-top: 30px;
}

.sourceDiv>a {
    color: gray;
}


.errorMessage {
    color: rgb(186, 17, 17);
    text-align: center;
}


@media (max-width:600px) {
    #content {
        margin-inline: 10%;
    }
    .navbar {
        margin-inline: 5%;
        justify-content: space-between;
    }

    #search-div {
        margin-inline: 10%;
    }

    .sourceDiv {
        font-size: small;
        justify-content: center;
    }
}



/** 
*! Dark Mode Switch Styles here
**/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3c3c;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 3px;
    background-color: rgb(255, 249, 249);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(255, 249, 249);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #3d3c3c;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/**
*! Font Selection Drop Down Styles here
**/


.dropbtn {
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.dropbtn:hover,
.dropbtn:focus {
    background-color: rgb(214, 212, 212);
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.show {
    display: block;
}